<!-- <script>
    function changeddl(obj) {

        var text = obj.options[obj.selectedIndex].text;
        var ddl2 = document.querySelectorAll('#iOperation option');
        for (var i = 1; i < ddl2.length; i++) {
            var option = ddl2[i];
            option.style.display = 'none';
            if (text == 'Electronics') {
                if (['Laptop', 'Phone', 'Television'].indexOf(option.text) > -1)
                    option.style.display = 'block'

            }
            if (text == 'Grocery') {
                if (['Soap', 'Powder'].indexOf(option.text) > -1)
                    option.style.display = 'block'
            }
        }
    }
</script> -->

<div class="well">
    <form class="form-group">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Dish</th>
                    <th>Restaurant</th>
                    <th>Cost</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Poster</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let res of cuisines.reverse() | paginate : {itemsPerPage :6, currentPage: p}">
                    <td>{{res.dishName}}</td>
                    <td style="width:200px">{{res.restaurantName}}</td>
                    <td>{{res.cost | currency:"Rs. "}}</td>
                    <td>{{res.type}}</td>
                    <td style="width:250px">{{res.description}}</td>
                    <td><img width=50px height=50px src={{res.poster}}></td>
                    <td>
                        <button (click)="goToEditCuisine(res._id)" class="btn btn-xs btn-info">
                            <p class="glyphicon glyphicon-edit"></p>
                        </button>&nbsp;&nbsp;&nbsp;
                        <button (click)="deleteCuisineFromService(res)" class="btn btn-xs btn-danger">
                            <p class="glyphicon">X</p>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </form>
</div>
<div style="padding:3px;" class="col-md-6 col-md-offset-3">
    <label>
        <h1>Add Cuisines</h1>
    </label>
    <input type="text" #cuiName placeholder="Dish Name" class='form-control' />&nbsp;
    <select #resName class='form-control'>
        <option value="">Select</option>
        <option *ngFor="let res of restaurants" value={{res.name}}>{{res.name}}</option>
    </select>&nbsp;
    <input type="text" #cost placeholder="Cost" class='form-control' />&nbsp;
    <input type="text" #type placeholder="Type Veg / Non-Veg" class='form-control' />&nbsp;
    <input type="text" #desc placeholder="Description" class='form-control' />&nbsp;
    <input type="text" #poster placeholder="Image URL" class='form-control' />&nbsp;
    <button (click)="addCuisineFromService(cuiName.value, resName.value, cost.value, type.value, desc.value, poster.value)"
        class="btn btn-success form-control">Add
        Cuisine</button>&nbsp;
    <hr />
</div>