# Compiled source #
###################
*.class
PackageDemo/out/production/PackageDemo/log4j.properties
Java_Test/out/production/Java_Test/log4j2.xml
Java_Test/out/production/Java_Test/log4j2.properties.abc
logs/app.log
logs/app1.log
