# Compiled source #
###################
*.class
PackageDemo/out/*
Java_Test/out/*
logs/*
libraries/*
EMP.DAT
JUnitDemos/out/*
.metadata
.metadata/*
.recommenders
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/.tasks.xml.zip
.metadata/.log
.metadata/.mylyn/tasks.xml.zip
