# Compiled source #
###################
*.class
PackageDemo/out/*
Java_Test/out/*
logs/*
libraries/*
EMP.DAT
JUnitDemos/out/*
.metadata
.metadata/*
.recommenders
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/.tasks.xml.zip
.metadata/.log
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/c7/history.index
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
*.gen