
<html>



        <head>
        

        
        <title>My HTML 5 Page for New Structured elements</title>
        
        <!-- <link href="login.component.css" rel="stylesheet" type="text/css"/> -->
        
        </head>
        
        
        
        <body>
        
        
        
        <header
        id="header">
        
        <h1>My HTML 5 Website</h1>
        
        </header>
        
        <nav
        id="menuarea">
        
        <a
        href="#">Home</a>
        
        <a
        href="#">Products</a>
        
        <a
        href="#">About Us</a>
        
        <a
        href="#">Contact Us</a>
        
        </nav>
        
        <section
        id="contentarea">
        
        <article>
        
        <header>
        
        <h3>Windows 10 Launched!</h3>
        
        </header>
        
        <P>
        
        Windows 10 is new IS from Microsoft, which can be freely downloaded. Windows 10 is new OS from Microsoft, which can be freely
        
        downloaded. Windows 10 is new OS from Microsoft, which can be freely downloaded. Windows 10 is new OS from
        
        Microsoft, which can be freely downloaded. Windows 10 is new OS from Microsoft, which can be freely downloaded.
        
        Windows 10 is new OS from Microsoft, which can be freely downloaded. Windows 10 is new IS from Microsoft,
        
        which can be freely downloaded. Windows 10 is new OS from Microsoft, which can be freely downloaded. Windows
        
        10 is new OS from Microsoft, which can be freely downloaded. Windows 10 is new OS from Microsoft, which can
        
        be freely downloaded. Windows 10 is new OS from Microsoft, which can be freely downloaded.
        
        </P>
        
        <footer>
        
        <em>Note: Windows has the right to uninstall the pirated applications installed on your machine without your
        
        permission. It can be done remotely.</em>
        
        </footer>
        
        </article>
        
        
        </section>
        
        
        
        <aside
        id="rightpanel">
        
        Right Hand Side Panel 2
        
        </aside>
        
        <aside
        id="rightpanel">
        
        Right Hand Side Panel
        
        </aside>
        
        
        
        <footer
        id="footer">
        
        <p>Copyright
        &copy; 2018</p>
        
        </footer>
        
        
        
        </body>
        
        
        
        </html> 
        
        