<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JPM_JEE_ConfigDemo</display-name>
  <context-param>
    <param-name>CompanyName</param-name>
    <param-value>J P Morgan Chase</param-value>
  </context-param>
  <servlet>
    <servlet-name>p1</servlet-name>
    <servlet-class>com.jp.config.servlets.Process1</servlet-class>
    <init-param>
      <param-name>pageHead</param-name>
      <param-value>Emp List</param-value>
    </init-param>
    <init-param>
      <param-name>footHead</param-name>
      <param-value>Contact is</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>p1</servlet-name>
    <url-pattern>/process1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>p1</servlet-name>
    <url-pattern>/process2</url-pattern>
  </servlet-mapping>
</web-app>