


<app-menu-bar></app-menu-bar>
<div class="container">
  <form #frm="ngForm" (ngSubmit)="addProduct(frm)" ngNativeValidate *ngIf="!toggleForm">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Add Products</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="name">
            Name:
          </label>
          <input type="text" name="name" [(ngModel)]="defName" #nameControl="ngModel" required class="form-control input-sm">
          <div *ngIf="nameControl?.touched && nameControl?.invalid" class="alert alert-danger">
            <div *ngIf="nameControl.errors?.required">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="price">
            Price:
          </label>
          <input type="text" name="price" [(ngModel)]="defPrice" #priceControl="ngModel" required class="form-control input-sm">
          <div *ngIf="priceControl?.touched && priceControl?.invalid" class="alert alert-danger">
            <div *ngIf="priceControl.errors?.required">Price is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="photoPath">
            Image Name:
          </label>
          <input type="text" name="photo" [(ngModel)]="defPhoto" #photoControl="ngModel" required class="form-control input-sm">
          <div *ngIf="photoControl?.touched && photoControl?.invalid" class="alert alert-danger">
            <div *ngIf="photoControl.errors?.required">Image Name is required</div>
          </div>
        </div>
        <button type="submit" name="button" class="btn btn-success" [disabled]="frm.invalid">Add Product</button>
      </div>
    </div>
  </form>

  <form #editfrm="ngForm" (ngSubmit)="updateProduct(editfrm)" ngNativeValidate *ngIf="toggleForm">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Product</h3>
      </div>
    </div>
    <div class="form-group">
      <input type="hidden" name="id" [(ngModel)]="selectedProduct.id" >
    </div>
    <div class="form-group">
      <label for="">
        Name:
      </label>
      <input type="text" name="name" [(ngModel)]="selectedProduct.name" #nameControl="ngModel" required class="form-control">
      <div *ngIf="nameControl?.touched && nameControl?.invalid" class="alert alert-danger">
        <div *ngIf="nameControl.errors?.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="">
        Price:
      </label>
      <input type="text" name="price" [(ngModel)]="selectedProduct.price" #priceEditControl="ngModel" required class="form-control">
      <div *ngIf="priceEditControl?.touched && priceEditControl?.invalid" class="alert alert-danger">
        <div *ngIf="priceEditControl.errors?.required">Price is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="">
        Image Name:
      </label>
      <input type="text" name="photo" [(ngModel)]="selectedProduct.photoPath" #photoEditControl="ngModel" required
        class="form-control">
      <div *ngIf="photoEditControl?.touched && photoEditControl?.invalid" class="alert alert-danger">
        <div *ngIf="photoEditControl.errors?.required">Image Name is required</div>
      </div>
    </div>
    <button type="submit" name="button" class="btn btn-success" [disabled]="editfrm.invalid">Save</button>
  </form>

</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3" *ngFor="let p of products">
      <div class="panel panel-primary">
        <div class="panel-heading">{{p.name}}</div>
        <div class="panel-body"><img [src]="p.photoPath" class="imageClass img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: {{p.price}}</div>
        <div class="panel-footer"><button type="button" name="button" class="btn btn-info btn-xs" (click)='showEditform(p)'
            [disabled]='toggleForm'>Edit</button></div>
        <div class="panel-footer"><button type="button" name="button" class="btn btn-danger btn-xs" (click)='deleteItem(p.id)'>Delete</button></div>
        <div class="panel-footer"><button type="button" name="button" class="btn btn-xs" (click)='showAddForm()'>Cancel</button></div>
      </div>
    </div>
  </div>
</div>