.count{
    text-align: center;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0px;
    bottom: 12px;
    border-radius: 50%;
    background-color: #ff6161;
    border: solid 1px #fff;
    font-weight: 200;
    color: #f0f0f0;
    line-height: 14px;
    font-size: 12px;
}


