<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form>
      <h3><label>Login Page:</label></h3>
      <div>
        <p *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</p>
      </div>
      <div class="form-group">
        <label for="">User Name: </label>
        <input type="text" name="userName" [(ngModel)]="loginObject.username" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Password: </label>
        <input type="password" name="password" [(ngModel)]="loginObject.password" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" (click)='signIn()' class="btn btn-success">Log In</button>
      </div>
    </form>
  </div>
</div>

