<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Spring4_0MavenMvc100ValidationsJsr349</display-name>
  <welcome-file-list>
    <welcome-file>homePage.hr</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/spring.xml</param-value>
  </context-param>
  <!-- It creates ApplicationContext which works as Parent context -->
  <!-- By default referring to applicationContext.xml 
  		Otherwise refers to the config file named in 'contextConfigLocation' context parameter.
  -->
  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
	
  <!-- It creates WebApplicationContext which works as a child context -->
  <!-- The child context can refer to the beans of parent context but vice versa not possible. -->
  <servlet>
		<servlet-name>fcForHR</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springWebHR.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>fcForHR</servlet-name>
		<url-pattern>*.hr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>fcForFin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springWebFIN.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>fcForFin</servlet-name>
		<url-pattern>*.fin</url-pattern>
	</servlet-mapping>
</web-app>