<div style="padding:5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="home" *ngIf="!userLogged">Home</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="login" *ngIf="!userLogged">Login</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="register" *ngIf="!userLogged">Register</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="about" *ngIf="!userLogged">About</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="shoppingcart"  *ngIf="userLogged" >Shopping Cart</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="shoppingitem"  *ngIf="userLogged">Shopping Item</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="productlist"  *ngIf="userLogged">Product List </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="logout"  *ngIf="userLogged">Logout</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>

<div class="footer">Happy Learning Angular</div>