<?xml version="1.0" encoding="UTF-8"?> 

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<beans>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="pack_30_more_ioc/pack_02_118NSupport/mymessages" />
	</bean>
	
	<bean id="orderService" class="pack_30_more_ioc.pack_02_118NSupport.OrderProcessingService" />
	
</beans>